@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Light / Dark Theme */
@theme {
  --color-background: #edf2ee;
  --color-text: #09100b;
  --color-primary: #52ff86;
  --color-secondary: #2a7a42;
  --color-accent: #00ad34;

  --font-caesar: "Caesar Dressing", system-ui; 
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-background: #0d120e;
  --color-text: #eff6f1;
  --color-primary: #52ff86;
  --color-secondary: #85d59d;
  --color-accent: #32c35e;
}

/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* Custom */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.noSelect {
  user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
